/* For dekstop / laptop */

*{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 20px;
    margin-left: auto;
}

.nav-items{
    font-size: 13px;
    cursor: pointer;
}

.user{
    width: 30px;
    height: 30px;
    margin-top: 6px;
    border-radius: 50%;
    cursor:pointer;
}

.menu{
     width: 17px; 
     height: 17px; 
     margin-top: 12px; 
     cursor:pointer;
}

.google-heading{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
}

.google{
    font-size: 85px;
    margin-bottom: 0;
}

.google-letters{
    margin-left: -23px;
}

#g{
    color: rgb(66, 133, 244);
}

#o{
    color: rgb(219, 68, 55);
}

#o1{
    color: rgb(244, 180, 0);
}

#l{
    color: rgb(15, 157, 88);
}

#e{
    color: rgb(219, 68, 55);
}

.search-field{
    width: 600px;
    margin-top: 25px;
    border-radius: 20px;
    height: 38px;
    border: 2px solid rgb(233, 228, 228);
    outline: none;
    padding-left: 50px;
}

.search-field:hover {
    box-shadow: 5px 5px 10px 4px rgb(177, 177, 177);
}  

.fa-search{
    position: absolute;
    margin-top: 40px;
    margin-left: 15px;
    color: rgb(182, 179, 179);
}

.fa-microphone{
    color: rgb(39, 124, 223);
    position: absolute;
    margin-top: 40px;
    margin-left: 630px;
    cursor: pointer;
}

.buttons{
    margin-top: 25px;
    cursor: pointer;
}

.btn{
    cursor: pointer;
    height: 35px;
    border: none;
    background-color: rgb(248, 248, 248);
    width: 140px;
    margin: 5px;
    font-size: 15px;
    color: rgb(88, 88, 88);
    border-radius: 7px;
}

.btn:hover {
    box-shadow: 5px 5px 10px 4px rgb(177, 177, 177);
}  

.btn1{
    cursor: pointer;
    height: 35px;
    border: none;
    background-color: rgb(248, 248, 248);
    width: 140px;
    margin: 5px;
    font-size: 15px;
    color: rgb(88, 88, 88);
    border-radius: 7px;
}

.btn1:hover {
    box-shadow: 5px 5px 10px 4px rgb(177, 177, 177);
} 

.text{
    font-size: 13px;
}

.covid{
    margin-top: 25px;
}

.offer{
    margin-top: 40px;
}

a{
    text-decoration: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(238,238,238);
    font-size: 15px;
    color: rgb(102,100,100);
}

.india{
    margin-left: 30px;
    height: 22px;
    cursor:pointer;
}

.footer-menu{
    display: flex;
    gap: 70px;
}

li{
    list-style-type: none;
}

.last-menu-1, .last-menu-2{
    display: flex;
    gap: 30px;
    margin: 8px;
}

.last-menu-1{
    margin-left:-10px;
}

.last-menu-2{
    margin-left: auto;
    margin-right: 90px;
}

.break{
    border: 1px solid rgb(223,223,223);
}

/* For dark mode */

.switch{
    position: relative;
    margin-top: 8px;
    width: 60px;
    height: 25px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: #ccc;
    -webkit-transition: 1s;
    transition: 1s;
}

.slider:before{
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
}

input:checked + .slider{
    background-color: #2196f3;
}

input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(31px);
}

.slider.round{
    border-radius: 34px;
}

.slider.round:before{
    border-radius: 50%;
}

/* For mobile devices */

@media only screen and (max-width: 942px){
    .last-menu-1{
        margin-left: 0;
    }

    .last-menu-1, .last-menu-2, .pak{
        font-size: 13px;
        clear: both;
        white-space: nowrap;
    }

    .footer-menu{
        gap:0;
    }

    .google-heading{
        white-space: nowrap;
    }

    .search-field{
        width: 400px;
    }

    .fa-microphone{
        margin: 0;
        margin-top: 40px;
        margin-left: 430px;
    }

    .footer-menu{
        height: 60px;
        display: inline-block;
        margin-left: 60px;
    }
}